/*--Basic Body--*/
body {
	margin: 0;
	padding: 0;
	background-color: #363333;
}
/*--End Basic Body--*/

/*--Layout Info--*/
div.Container {
	
	margin-top: 65px;
	padding-top:40px;
	margin-left: 60px;
	padding-left:40px;
	max-width:490px;
	padding-right:40px;
	padding-bottom:40px;
}

img.Message {
	vertical-align:middle;
}
li {
	margin-bottom:10px;
}
/*--End Layout Info--*/

/*--Basic Fonts--*/
div,h1,td.Header {
	color:#FFF;
	font-family: "Lobster" ,'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'HelveticaNeue W01 25 UltLt', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 2px;
	font-weight: 100;
}

div,td.Message {
	color:#00C8C8;
	font-family: "Ropa Sans" ,'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'HelveticaNeue W01 25 UltLt', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 2px;
	font-weight: 100;
}

div.Footer {
	color:#00C8C8;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size: 10px;
	font-weight: 100;
	letter-spacing: 2px;
	font-weight: 100;
}
/*--End Basic Fonts--*/

/*--Message Links--*/
a.Message:link {
	color: #FFD300; 
}
a.Message:visited {
	color: #FFD300;
}
a.Message:hover {
	color: #007C7C;
}
a.Message:active {
	color: #00C8C8;
}


/*--End Message Links--*/

/*--Form Styles--*/
.error[generated=true] {
  color: #dc0000;
  font-size: 16px;
  padding: 5px 0 2px 5px;
}
tr.error td {
  padding: 0;
}
input, textarea {
  background: #FFF;
  border: 3px solid #7a91a1;
  font: inherit;
  font-size: 16px;
  line-height: 29px;
  min-height: 30px;
  padding: 5px 10px;
  width: 300px;
}
input:focus, textarea:focus {
  border-color: #b0c3d0;
  outline: none;
}
textarea {
  height: 240px;
  resize: vertical;
}
input[type=submit] {
  background: #00C8C8;
  color: #FFF;
  font: inherit;
  padding: 7px 20px;
  width: auto;
}
 
#response {
  margin-bottom: 20px;
  text-align: center;
}
#response .success {
  color: #08a300;
}
#response .failure {
  color: #dc0000;
}
/*--End Form Styles--*/